{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portifólio</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/Poppins-Light.ttf' %}">

    </head>
    <body>
        <div class="pos-f-t">
          <header>
            <nav>
              <span class="span">< juanpablo/></span>
              <ul class="nav-list">
                <div class="mobile-menu-ex">
                </div>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Contato</a></li>
              </ul>
            </nav>
          </header>
        </div>
        <div class="menu-icon">
            <div class="mobile-menu">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
          </div>
          <div class="page">
          
            
{% block content %}
{% endblock %}