{% load static %}
<div class="container contato">
    <div class="cont">
        <h2>Contato</h2>
    </div>
    <div>
        <div class="contato-icon">
            <div>
                <img src="{% static 'img/icons/email.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'img/icons/contato-linkdin.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'img/icons/telegram.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'img/icons/contato-github.png' %}" alt="">
            </div>
          </div>
    </div>
</div>