{% load static %}
<div class="dev">
    <div class="dev-1">
        <h1>Portifólio Desenvolvedor WEB</h1>
    </div>
    <div class="dev-menu row">
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div>
    </div>
</div>