{% load static %}
<div class="dev">
    <div class="dev-1">
        <h1>Portifólio Desenvolvedor WEB</h1>
    </div>
    <div class="dev-menu row">
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary but">Django</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary">JavaScript</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary">NodeJS</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary">Html/CSS/Bootstrap</button>
        </div>
    </div>
</div>