{% load static %}

<footer>
    <div class="footer">

    </div>
</footer>

</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<script src="{% static 'js/bootstrap.bundle.js' %}" ></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
</body>
</html>