{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portifólio</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">


    </head>

    <body>
        <div class="pos-f-t">
            <nav class="navbar navbar-dark bg-dark menu">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <div class="menu-itens">
                  <p>HOME</p>
                </div>
              </div>
            </div>
          </div>
        <h1>OI</h1>

        <!-- jQuery first, then Tether, then Bootstrap JS. -->

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}" ></script>
        <script src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}" ></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
        



        

    </body>
</html>