{% load static %}
<div class="perfil">
    <div class="nav-margin"></div>
    <div class="apresentacao">
        <div class="borda">
            
            </div>
        </div>
    </div>
    <div class="show">
        <div class="perfil-p">
            <h3>Sobre mim</h3>
            <br>
            <p id="elementEl">Olá seja bem vindo!
                me chamo Juan Pablo, sou desenvolvedor Fullstack e esse é meu portifolio com projetos/trabalhos feitos durante minha carreira como programador. </p>
        </div>
        <div class="imagem">
            <img src="{% static '/img/site/site.png' %}" alt="">
        </div>
    </div>
    <div class="icons">
        <img src="{% static '/img/icons/github.png' %}" alt="">
        <img src="{% static '/img/icons/linkedin.png' %}" alt="">
        <img src="{% static '/img/icons/instagram.png' %}" alt="">
    </div>
</div>
<svg height="100" width="100">
        <path fill="#0f172a" fill-opacity="1" d="M0,256L120,266.7C240,277,480,299,720,298.7C960,299,1200,277,1320,266.7L1440,256L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">

    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
  </svg>
</path>