{% load static %}
<div class="perfil">
    <div class="nome">
        <div class="borda">
            <h1>JUAN PABLO</h1>
            <h3>DESENVOLVEDOR FULLSTACK</h3>
            <BR><BR></BR></BR>
            <p>Desenvolvedor FullStack com foco no desenvolvimento de sites para WEB, estou sempre criando 
                novos projetos sejam eles profissionais ou pessoais, assim vou aprimorando cada vez
                mais minhas habilidades como desenvolvedor. Algumas dessas habilidades são: 
                Python | Django | Django REST | MYSQL | PostgreSQL | MongoDB | NodeJS | Kubernets/Docker | 
                JavaScript | React | CSS3 | Bootstrap | HTML5.   </p>
        </div>
        
    </div>
    <div class="imagem">
        <img src="{% static '/img/site/site.png' %}" alt="">
    </div>
</div>