{% load static %}

    <div class="container perfil">
    <div class="foto">
        <div class="content">
            <img src="{% static '/img/perfil/perfil.jpeg' %}" alt="">
        </div>
    </div>
    <div class="sobre">
        <p class="sm">Um pouco sobre mim</p>
        <h2 class="s">Sobre</h2>
        <p>Desenvolvedor BackEnd com experiência em Python/Django, sempre disposto a novos desafios e conhecimentos para minha carreira, novas tecnologias são sempre bem vindas. (Python | Django | Django REST | Javascript | Html/Css | MySQL/MongoDB | Kubernets/Docker )</p>
    </div>
    </div>

