{% load static %}
<div class="perfil">
    <div class="nav-margin"></div>
    <div class="apresentacao">
        <div class="borda">
            
            </div>
        </div>
    </div>
    <div class="show">
        <div class="perfil-p">
            <p class="nome">Olá, meu nome é</p>
            <h2>Juan Pablo Severo</h2>
            <h2 class="h2">Desenvolvedor Fullstack</h2>
            <p>Sou Desenvolvedor Fullstack, desenvolvo interfaces web de alta qualidade, com foco em performance e responsividade.</p>
        </div>
        <div class="imagem">
            <img src="{% static '/img/site/site.png' %}" alt="">
        </div>
    </div>
    <div class="icons">
        <img src="{% static '/img/icons/github.png' %}" alt="">
        <img src="{% static '/img/icons/linkedin.png' %}" alt="">
        <img src="{% static '/img/icons/instagram.png' %}" alt="">
    </div>
</div>
    <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2440 320">
        <path fill="white" fill-opacity="3" d="M0,256L120,266.7C240,277,480,299,720,298.7C960,299,1200,277,1320,266.7L1440,256L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
