{% load static %}
<div class="perfil">
    <div class="nav-margin"></div>
    <div class="apresentacao">
        <div class="borda">
            
            </div>
        </div>
    </div>
    <div class="show">
        <div class="perfil-p">
            <h3>Sobre mim</h3>
            <br>
            <p id="elementEl">Olá seja bem vindo!
                me chamo Juan Pablo, sou desenvolvedor Fullstack e esse é meu portifolio com projetos/trabalhos feitos durante minha carreira como programador. </p>
        </div>
        <div class="imagem">
            <img src="{% static '/img/site/site.png' %}" alt="">
        </div>
    </div>
    <div class="icons">
        <img src="{% static '/img/icons/github.png' %}" alt="">
        <img src="{% static '/img/icons/linkedin.png' %}" alt="">
        <img src="{% static '/img/icons/instagram.png' %}" alt="">
    </div>
</div>
<svg height="100" width="100">
    <circle cx="50" cy="150" r="40"  stroke-width="3" fill="red" />
  </svg>
</path>