{% load static %}
<div class="perfil">
    <div class="apresentacao">
        <div>
            <img src="{% static '/img/perfil/perfil.jpeg' %}" alt="">
        </div>
        <div class="borda">
            <h1>JUAN PABLO</h1>
            <h3>DESENVOLVEDOR FULLSTACK</h3>
            <BR><BR></BR></BR>
            <p>Olá sou Juan, desenvolvedor FullStack com foco no desenvolvimento de sites para WEB</p>
        </div>
        
    </div>
    <div class="imagem">
        <img src="{% static '/img/site/site.png' %}" alt="">
    </div>
</div>