{% load static %}
<div class="perfil">
    <div class="nav-margin"></div>
    <div class="apresentacao">
        <div class="borda">
            
            </div>
        </div>
    </div>
    <div class="show">
        <div class="perfil-p">
            <h3>Sobre mim</h3>
            <br>
            <p id="elementEl">Olá seja bem vindo!
                me chamo Juan Pablo, sou desenvolvedor Fullstack e esse é meu portifolio com projetos/trabalhos feitos durante minha carreira como programador. </p>
        </div>
        <div class="imagem">
            <img src="{% static '/img/site/site.png' %}" alt="">
        </div>
    </div>
    <div class="icons">
        <img src="{% static '/img/icons/github.png' %}" alt="">
        <img src="{% static '/img/icons/linkedin.png' %}" alt="">
        <img src="{% static '/img/icons/instagram.png' %}" alt="">
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#0099ff" fill-opacity="3" d="M0,64L48,53.3C96,43,202,21,288,32C384,43,480,85,576,101.3C672,117,768,107,864,85.3C960,64,1056,32,1152,37.3C1248,43,1344,1085,1392,106.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  </svg>
