{% load static %}
<div class="perfil">
    <div class="apresentacao">
        <div class="borda">
            <img class="perfil-img" src="{% static '/img/perfil/perfil.jpeg' %}" alt="">
            <div class="perfil-div">
            <h1>JUAN PABLO</h1>
            <h3>DESENVOLVEDOR FULLSTACK</h3>
            </div>
        </div>
    </div>
    <div class="show">
        <div class="perfil-p">
            <h3>Sobre mim</h3>
            <br>
            <p id="elementEl">Olá seja bem vindo!
                me chamo Juan Pablo, sou desenvolvedor Fullstack e esse é meu portifolio com projetos/trabalhos feitos durante minha carreira como programador. </p>
        </div>
        <div class="imagem">
            <img src="{% static '/img/site/site.png' %}" alt="">
        </div>
    </div>
    <div class="icons">
        <img src="{% static '/img/icons/github.png' %}" alt="">
        <img src="{% static '/img/icons/linkedin.png' %}" alt="">
        <img src="{% static '/img/icons/instagram.png' %}" alt="">
    </div>
</div>