{% load static %}
<div class="perfil">
    <div class="nav-margin"></div>
    <div class="apresentacao">
        <div class="borda">
            
            </div>
        </div>
    </div>
    <div class="show">
        <div class="perfil-p">
            <h3>Sobre mim</h3>
            <br>
            <p id="elementEl">Olá seja bem vindo!
                me chamo Juan Pablo, sou desenvolvedor Fullstack e esse é meu portifolio com projetos/trabalhos feitos durante minha carreira como programador. </p>
        </div>
        <div class="imagem">
            <img src="{% static '/img/site/site.png' %}" alt="">
        </div>
    </div>
    <div class="icons">
        <img src="{% static '/img/icons/github.png' %}" alt="">
        <img src="{% static '/img/icons/linkedin.png' %}" alt="">
        <img src="{% static '/img/icons/instagram.png' %}" alt="">
    </div>
</div>
<svg height="200px" width="100%" xmlns="http://www.w3.org/2000/svg">
    <path d="M 10 10 C 20 20, 40 20, 50 10" stroke="black" fill="black"/>
  </svg>
</path>