{% load static %}
<div class="perfil">
    <div class="apresentacao">
        <div class="borda">
            <img class="perfil-img" src="{% static '/img/perfil/perfil.jpeg' %}" alt="">
            <div class="perfil-div">
            <h1>JUAN PABLO</h1>
            <h3>DESENVOLVEDOR FULLSTACK</h3>
            </div>
        </div>
        <div class="perfil-p">
            <p id="elementEl">Olá sou Juan, desenvolvedor FullStack com foco no desenvolvimento de sites para WEB.</p>
        </div>
    </div>
    <div class="icons">
        <img src="{% static '/img/icons/github.png' %}" alt="">
        <img src="{% static '/img/icons/linkedin.png' %}" alt="">
        <img src="{% static '/img/icons/instagram.png' %}" alt="">
    </div>
    <div class="">
        <div class="kitty">
            <div class="">
              <div class="ear"></div>
              <div class="eye"></div>
              <div class="mouth">
                <div class="nose"></div>
                <div class="whisker-1"></div>
                <div class="whisker-2"></div>
              </div>
              <div class="body">
                <div class="hand">
                  <div class="hand-l"></div>
                  <div class="hand-r"></div>
                </div>
              </div>
              <div class="tail"></div>
            </div>
            <div class="laptop">
              <div class="logo"></div>
            </div>
          </div>
    </div>
</div>