{% load static %}

<div class="portifolio">
    <div>
        <p class="sm">Meus projetos</p>
        <h2>Projetos</h2>
    </div>
    <div class="filter">
        <img src="{% static 'img/icons/filter.png' %}" alt="">
        <a class="bn39" href="/"><span class="bn39span">TODOS</span></a>
        <a class="bn39" href="/"><span class="bn39span">BACKEND</span></a>
        <a class="bn39" href="/"><span class="bn39span">FRONTEND</span></a>
    </div>
    <div class="all">
        <section class="card">
            <img src="{% static 'img/site/site.png' %}" alt="">
        </section>
        <section class="card">

        </section>
        <section class="card">

        </section>
    </div>
</div>