{% load static %}

<div class="portifolio">
    <div>
        <p class="sm">Meus projetos</p>
        <h2>Projetos</h2>
    </div>
    <div class="filter">
        <img src="{% static 'img/icons/filter.png' %}" alt="">
        <a class="bn39" href="/"><span class="bn39span">TODOS</span></a>
        <a class="bn39" href="/"><span class="bn39span">BACKEND</span></a>
        <a class="bn39" href="/"><span class="bn39span">FRONTEND</span></a>
    </div>
    <div class="all">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Título do card</h5>
              <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Título do card</h5>
              <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
    </div>
</div>