{% load static %}
<div class="portifolio">
    <div class="web">
        <h1>PORTIFÓLIO DESENVOLVEDOR WEB</h1>
    </div>
    <div class="dev-menu row">
        <div class="col-sm">
            <button  class="glow-on-hover" role="button"><span class="text but-1">Python / Django</span></button>
        </div>
        <div class="col-sm">
            <button class="button-64" role="button"><span class="text but-3">NodeJS</span></button>
        </div>
        <div class="col-sm">
            <button class="button-64" role="button"><span class="text but-2">JavaScript</span></button>
        </div>
        <div class="col-sm">
            <button class="button-64" role="button"><span class="text but-4">React</span></button>
        </div>
        <div class="col-sm">
            <button class="button-64" role="button"><span class="text but-5">Html/Css/Bootstrap</span></button>
        </div>
    </div>


</div>