{% load static %}

<div class="tecnologia">
    <div>
        <h2>Linguagens e tecnológias</h2>
        <p>Aqui estão as linguagens e tecnologias que eu tenho contato.</p>
    </div>
    <div class="linguagens">
        <ul>
            <li style="--i:6"><a href=""><span>
                <img src="{% static 'img/icons/python.png' %}" alt="">
                </span>Python</a>
            </li>
            <li style="--i:5"><a href=""><span>
                <img src="{% static 'img/icons/django.png' %}" alt="">
                </span>Django</a>
            </li>
            <li style="--i:4"><a href=""><span>
                Javascript
                </span></a>
            </li>
            <li style="--i:3"><a href=""><span>
                NodeJS
                </span></a>
            </li>
            <li style="--i:2"><a href=""><span>
                React
                </span></a>
            </li>
            <li style="--i:1"><a href=""><span>
                CSS
                </span></a>
            </li>
        </ul>
    </div>
</div>