{% load static %}

<div class="tecnologia">
    <div>
        <h2>Linguagens e tecnológias</h2>
        <p>Aqui estão as linguagens e tecnologias que eu tenho contato.</p>
    </div>
    <div class="linguagens">
        <div class="coluna">
            <ul>
                <li style="--i:6;--clr: #006a7d;"><a href=""><span>
                    <img src="{% static 'img/icons/python.png' %}" alt="">
                    </span>Python</a>
                </li>
                <li style="--i:5;--clr: #0e3b2c;"><a href=""><span>
                    <img src="{% static 'img/icons/django.png' %}" alt="">
                    </span>Django</a>
                </li>
                <li style="--i:4;--clr: #7f2d2d;"><a href=""><span>
                    <img src="{% static 'img/icons/rest.png' %}" alt="">
                    </span>Django REST</a>
                </li>
                <li style="--i:3;--clr: #ead41c;"><a href=""><span>
                    <img src="{% static 'img/icons/javascript.png' %}" alt="">
                    </span>Javascript</a>
                </li>
                <li style="--i:2;--clr: #89bb3c;"><a href=""><span>
                    <img src="{% static 'img/icons/nodejs.png' %}" alt="">
                    </span>NodeJS</a>
                </li>
                <li style="--i:1;--clr: #000000;"><a href=""><span>
                    <img src="{% static 'img/icons/react.png' %}" alt="">
                    </span>React</a>
                </li>
            </ul>
        </div>
        <div class="coluna">
            <ul>
                <li style="--i:6;--clr: #ff6d00;"><a href=""><span>
                    <img src="{% static 'img/icons/html.png' %}" alt="">
                    </span>HTML</a>
                </li>
                <li style="--i:5;--clr: #039be5;"><a href=""><span>
                    <img src="{% static 'img/icons/css.png' %}" alt="">
                    </span>css</a>
                </li>
                <li style="--i:4;--clr: #543b79;"><a href=""><span>
                    <img src="{% static 'img/icons/bootstrap.png' %}" alt="">
                    </span>bootstrap</a>
                </li>
                <li style="--i:3;--clr: #024e51;"><a href=""><span>
                    <img src="{% static 'img/icons/mysql.png' %}" alt="">
                    </span>Mysql</a>
                </li>
                <li style="--i:2;--clr: #004771;"><a href=""><span>
                    <img src="{% static 'img/icons/postgresql.png' %}" alt="">
                    </span>Postgresql</a>
                </li>
                <li style="--i:1;--clr: #721515;"><a href=""><span>
                    <img src="{% static 'img/icons/sqlserver.png' %}" alt="">
                    </span>sql server</a>
                </li>
            </ul>
        </div>
        <div class="coluna">
            <ul>
                <li style="--i:6;--clr: #35759b;"><a href=""><span>
                    <img src="{% static 'img/icons/sqlite.png' %}" alt="">
                    </span>sql lite</a>
                </li>
                <li style="--i:5;--clr: #d5d81b;"><a href=""><span>
                    <img src="{% static 'img/icons/django.png' %}" alt="">
                    </span>Django</a>
                </li>
                <li style="--i:4;--clr: #1877f2;"><a href=""><span>
                    <img src="{% static 'img/icons/javascript.png' %}" alt="">
                    </span>Javascript</a>
                </li>
                <li style="--i:3;--clr: #1877f2;"><a href=""><span>
                    <img src="{% static 'img/icons/nodejs.png' %}" alt="">
                    </span>NodeJS</a>
                </li>
                <li style="--i:2;--clr: #1877f2;"><a href=""><span>
                    <img src="{% static 'img/icons/react.png' %}" alt="">
                    </span>React</a>
                </li>
                <li style="--i:1;--clr: #1877f2;"><a href=""><span>
                    <img src="{% static 'img/icons/css.png' %}" alt="">
                    </span>CSS</a>
                </li>
            </ul>
        </div>
    </div>
</div>