{% load static %}

<footer>
    <div class="footer">
        <p>© 2023 | Juan Pablo Severo</p>
    </div>
</footer>

</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery-min.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>  
<script src="{% static 'js/jquery.mixitup.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>    
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>    
<script src="{% static 'js/wow.js' %}"></script> 
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>    
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>       
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>