/*! Menu inicial */

body{
    width: 80%;
    margin: auto;
    background-color: #f2e5c0;
}

@media screen and (max-width: 600px) {
    body{
        width: 100%;
        margin: auto;
    }

}

.menu{
    height: 20%;
    background-color: #f2e5c0;
    color: black;
}

.menu button{
    position: relative;
    right: inherit;
    float: right;
    margin-left: auto;
    color: black;
}

.menu span {
    color: black;
}



.menu-itens {
    height: 80px;
    background-color: blue;
    text-align: center;
    padding-top: 13px;
    margin-bottom: 10px;
    font-size: 50%;
}

@media screen and (max-width: 600px){
    .menu button{
        position: relative;
        right: inherit;
        float: right;
        margin-left: auto;
        height: 35px;
    }

    .menu-itens {
        height: 30px;
        background-color: blue;
    }

    .menu-itens h1 {
        font-size: 150%;
        line-height: 0.2;
    }
}

/*! Fim Menu inicial */

/*! Perfil */

.perfil{
    padding-top: 40px;
    padding-left: 80px;
    margin-bottom: 200px;
}

.perfil img {
    width: 140px;
    height: 140px;
    float: left;
}

.perfil h1 {
    margin-left: 50px;
    position: absolute;
    font-weight: bold;


}
.borda{
    position: relative;
    padding-left: 145px;
}

.borda::before, .borda::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(130px);
    height: calc(10px);
    top: 60px;
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff,
    #001aff, #a200ff, #ff0055, #ff0000 );
    margin-left: 50px;
    background-size: 300%;
    animation: AnimarBorda 8s linear infinite;
    
}

@keyframes AnimarBorda {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

@media screen and (max-width: 900px) {
    .perfil {
        padding-left: 20px;
        margin-bottom: 100px;
    
    }
    .perfil img {
        width: 60px;
        height: 60px;
    }
    .perfil h1 {
        font-size: 30px;
    }

    .borda{
        padding-left: 30px;
    }

    .borda::before, .borda::after{
        margin-left: 20px;
        top: 40px;

    }

}

/*! Fim Perfil */

/*! Apresentaçao */

.apresentacao{
    background-color: #f2e5c0;
    padding: 70px;
    position: relative;
    border-bottom: 5px solid red;
    border-radius: 30%;
    border-top: 5px solid red;

}

.texto {
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
}

.texto h1 {
    margin-left: 20px;
    font-weight: bold;
    float: left;
    align-self: stretch;
}

.texto img {
    width: 50px;
    height: 50px;
    float: left;
}

.paragrafo p {
    margin-top: 40px;
    font-size: 20px;
}

.icons{
    position: fixed;
    padding-bottom: 23%;
    padding-left: 5px;
    bottom: 0;
    left: 0;
    width: 50px;
}

.icons img{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}






