/*! Menu inicial */

body{
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    body{
        width: 100%;
        margin: auto;
    }

}

.menu{
    height: 20%
}

.menu button{
    position: relative;
    right: inherit;
    float: right;
    margin-left: auto;
}

.menu-itens {
    height: 80px;
    background-color: blue;
    text-align: center;
    padding-top: 13px;
    margin-bottom: 10px;
    font-size: 50%;
}

@media screen and (max-width: 600px){
    .menu button{
        position: relative;
        right: inherit;
        float: right;
        margin-left: auto;
        height: 35px;
    }

    .menu-itens {
        height: 30px;
        background-color: blue;
    }

    .menu-itens h1 {
        font-size: 150%;
        line-height: 0.2;
    }
}

/*! Fim Menu inicial */

/*! Perfil */

.perfil{
    padding-top: 40px;
    padding-left: 80px;
}

.perfil img {
    width: 140px;
    height: 140px;
    float: left;
}

.perfil h1 {
    margin-left: 50px;


}
.borda{
    position: relative;
}

.borda::before, .borda::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(10%);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff,
    #001aff, #a200ff, #ff0055, #ff0000 );

}



