/*! Menu inicial */

body{
    width: 80%;
    margin: auto;
}

.menu{
    height: 20%
}

.menu button{
    position: relative;
    right: inherit;
    float: right;
    margin-left: auto;
    height: 10%
}

@media screen (max-width: 600px) {
    
}