/*! Menu inicial */

body{
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    body{
        width: 100%;
        margin: auto;
    }

}

.menu{
    height: 20%
}

.menu button{
    position: relative;
    right: inherit;
    float: right;
    margin-left: auto;
}

.menu-itens {
    height: 80px;
    background-color: blue;
}


@media screen and (max-width: 600px){
    .menu button{
        position: relative;
        right: inherit;
        float: right;
        margin-left: auto;
        height: 45px;
    }

    .menu-itens {
        height: 30px;
        background-color: blue;
    }
}