/*! body */


body{   
    margin: auto;
    height: 1500px;
    background:  linear-gradient( -0.2turn, #0d124a, #20d19e );
    font-family: 'Poppins', sans-serif;
}

main{
    margin: auto;
    width: 80%;
}

.page {
    margin: auto;
    width: 80%;
}


@media screen and (max-width: 600px) {
    body{
        width: 100%;
        margin: auto;
    }

}

/*! Menu */

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }

  
  nav {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: transparent;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
    float: right;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    margin-left: 80%;
  }
  
  .mobile-menu div {
    width: 42px;
    height: 3px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 100000px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #15081f;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-9px, 10px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


  @media screen and (max-width: 800px) {

    nav{
        height: 20vh;
    }
    .mobile-menu div {
        width: 24px;
        height: 2px;
        background: #fff;
        margin: 4px;
        transition: 0.3s;
      }
    .nav-list {
        top: 16vh;
    }

    .mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-2px, 3px);
    }

}
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  


/*! Fim Menu inicial */

/*! Perfil */

.perfil{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}

.imagem{
    margin-left: auto;
}

.imagem img {
    margin-top: 50px;
    width: 600px;
    height: 600px;
    float: right;
}

.borda{

}

.borda h1 {
    font-weight: bold;
    color: white;
    font-size: 60px;
}
